<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bbs">
<!-- CRUD 4가지 만들어주세요. -->
	<insert id="insert" parameterType="bbsVO">
	<!-- <insert id="insert" parameterType="com.mega.mvc39.BbsVO">
	길게 쓰면 번거롭기 때문에 bbsVO로 써준다. -->
		insert into BBS values (#{id},#{title},#{content},#{writer})
	</insert>
	<update id="update" parameterType="bbsVO">
		update BBS set content = #{content} where id = #{id}
	</update>
	
	<delete id="delete" parameterType="bbsVO">
		delete from BBS where id = #{id}
	</delete>
<!-- 	<resultMap type="bbsVO" id="r1"> 새로운 resultType만들때
		<result property="no" column="id"/>
		<result property="title" column="title"/>
		<result property="content" column="content"/>
		<result property="writer" column="writer"/>
	</resultMap> -->
	<select id="select" parameterType="bbsVO" resultType="bbsVO">
	<!-- ORM(Object RDB Mapping -->
	<!-- bbsVO에 컬럼명과 동일한 변수를 찾아서 set메서드로 값을 넣어줌. -->
		select * from BBS where id = #{id}
	</select>
	<select id="all" resultType="bbsVO">
	<!-- ORM(Object RDB Mapping -->
	<!-- bbsVO에 컬럼명과 동일한 변수를 찾아서 set메서드로 값을 넣어줌. -->
		select * from BBS
	</select>
</mapper>
